@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
    --color-1: #ffffff;
    --color-2: #2D3B23;
    --color-3: #7EBDC2;
    --color-4: #8E4A49;
    --color-5: #DFD4B7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 8rem;
    background-color: var(--color-2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#wip-body {
    background: url(assets/wip-bg.jpg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px)  brightness(70%);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, var(--color-2) 70%, rgba(255, 255, 255, 0));
    padding: 2rem;
    border-radius: 1rem;
    max-width: 600px;
    backdrop-filter: blur(5px) brightness(200%);
}

#logo {
    width: 100%;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: var(--color-3);
}

a:hover {
    color: var(--color-5);
    font-weight: bold;
    text-decoration: underline;
}

.social-icon {
    margin: 0.25rem;
    width: 5rem;
    height: 5rem;
}

.social-icon-container {
    padding: 2rem;
}

.poiret-one-regular {
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-1);
    font-weight: 500;
  }

  @media (max-width: 600px){
    #wip-body {
        background-image: none;
        background-color: var(--color-2);
        backdrop-filter: blur(0px)  brightness(100%);
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        background: var(--color-2);
        padding: 2rem;
        min-height: 475px;
    }

    h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .social-icon {
        margin: 0.25rem;
        width: 3rem;
        height: 3rem;
    }
  }